{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'alp-slide-menu-blog' menu_list: menu.links, block: block, title: title %}
{% endcomment %}

{% liquid
  assign bs = block.settings
%}

<div class="alp-slide-menu-blog">
    {%- for link in menu_list -%}
      {% if link.links.size > 0 %}
        {%- assign the_url = 'javascript:void(0);' -%}
      {% else %}
        {%- assign the_url = link.url -%}
      {% endif %}
      <div class="sub-menu-level-2">
        <a href="{{ the_url }}" class="slide-sub-menu-title heading">
          <span>{{- link.title | strip -}}</span>
          {% if link.links.size > 0 %}
            {% render 'icon-arrow-down' %}
          {% else %}
            {% render 'icon-arrow-right' %}
          {% endif %}
        </a>
        {% if link.links.size > 0 %}
          <div class="sub-slide-wrapper">
            <div class="alp-dropdown-child">
              {% for child_link in link.links %}
                <div class="alp-child-menu-link sub-menu-level-2">
                  <a href="{{ child_link.url }}" class="slide-sub-menu-title">
                    <span>{{- child_link.title | strip -}}</span>
                  </a>
                  <div class="sub-slide-wrapper">
                    {% if child_link.links.size > 0 %}
                      <div class="alp-dropdown-grandchild">
                        {% for grandchild_link in child_link.links %}
                          <div class="alp-child-menu-link">
                            <a class="slide-sub-menu-title" href="{{ grandchild_link.url }}">
                              {{- grandchild_link.title -}}
                            </a>
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    {%- endfor -%}
</div>
