{% comment %}
  Use:
  {% render 'alp-btn',
    url: bs.url,
    type: 'primary',
    text: bs.button_text,
    textcolor: '#000',
    bgcolor: '#FFF',
    size: 'small',
    icon: 'video'
  %}
{% endcomment %}

<a
  href="{{ url | default: "#" }}"
  target="_blank"
  class=" button-type-{{ type | default: "primary" }} alp-btn {{ size | default: "small" }}"
  style="--TextColor:{{ textcolor | default: "#000" }};--BgColor:{{ bgcolor | default: "#FFF" }};"
>
  <span>{{ text | default: 'Learn More' }}</span>
  {%- if icon == 'video' -%}
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="currentColor" d="M18.54 9L8.88 3.46a3.42 3.42 0 0 0-5.13 3v11.12A3.42 3.42 0 0 0 7.17 21a3.43 3.43 0 0 0 1.71-.46L18.54 15a3.42 3.42 0 0 0 0-5.92Zm-1 4.19l-9.66 5.62a1.44 1.44 0 0 1-1.42 0a1.42 1.42 0 0 1-.71-1.23V6.42a1.42 1.42 0 0 1 .71-1.23A1.51 1.51 0 0 1 7.17 5a1.54 1.54 0 0 1 .71.19l9.66 5.58a1.42 1.42 0 0 1 0 2.46Z"/>
    </svg>
  {%- else -%}
  {%- endif -%}
</a>
