{% comment %}
  Usage:
  {% render 'alp-variant-select', product: product, text: 'Select Your Option' %}
{% endcomment %}

<div class="alp_select_wrapper">
  <select
    class="alp_select"
    data-product-id="{{ product.id }}"
  >
    <option value="" data-variant-price="0">{{ text | default: 'Select Your Option' }}</option>
    {%- for variant in product.variants -%}
      <option
        {% if variant == product.selected_or_first_available_variant %}
        {% endif %}
        {% if variant.available == false %}
          disabled
        {% endif %}
        value="{{ variant.id }}"
        data-variant-price="{{ variant.price }}"
        data-variant-title="{{ variant.title }}|{{ variant.price | money }}"
      >
        {{ variant.title }} - {{ variant.price | money }}
      </option>
    {%- endfor -%}
  </select>
</div>
