<div data-product-swatch-price>
  {%- assign price = product.selected_or_first_available_variant.price -%}
  {%- assign compare_at_price = product.selected_or_first_available_variant.compare_at_price -%}
  {%- capture compare_at_price_class -%}
      {% if compare_at_price <= price %}
        hidden
      {% endif %}
    {%- endcapture -%}
  <span data-product-swatch-price-value>{{ price | money }}</span>
  <span data-product-swatch-compare-price-value class="{{ compare_at_price_class }}">
    {{- compare_at_price | money -}}
  </span>
  <script type="application/json">
    {
      "id": {{ product.id }},
      "variants": [
        {% for variant in product.variants %}
          {
            "id": {{ variant.id }},
            "options": {{ variant.options | json }},
            "price": "{{- variant.price | money -}}",
            "compare_at_price": "{{- variant.compare_at_price | money -}}"
          }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ]
    }
  </script>
</div>

{% stylesheet %}
  [data-product-swatch-price-value] {
    font-weight: 500;
    color: #000;
  }

  [data-product-swatch-compare-price-value] {
    text-decoration: line-through;
  }

  [data-product-swatch-price] {
    display: flex;
    gap: 0.1em;
    /* font-family: 'Poppins'; */
    flex-wrap: wrap;
    line-height: 1.2;
    justify-content: center;
  }
{% endstylesheet %}
