{% comment %}
  {% render 'nav-collection-list', collections: collection_list %}
{% endcomment %}
<div class="nav-collection-items-list">
  {%- if bs.mega_content != blank -%}
    <div class="mega-menu-richcontent-mobile-p2">{{ bs.mega_content }}</div>
  {%- endif -%}
  <div class="nav-collection-items-grid">
    {%- for item in collections -%}
      <div class="nav-image-link-item-grid is-collection">
        <a
          href="{{ item.url }}"
          class="nav-image-link full-aa {% render 'track-tag-classname', name: item.metafields.custom.tracking_class_names.value %}"
        ></a>
        <div class="nav-image-link-image">
          {% comment %} {{ item.featured_image | image_url: width: 320 | image_tag: loading: 'lazy' }} {% endcomment %}
          <img
            data-src="{{ item.featured_image | image_url: width: 300 }}"
            alt="{{ item.title | default: image.alt }}"
            loading="lazy"
            width="auto"
            height="auto"
            class="lazy"
          >
        </div>
        <div class="nav-collection-i-info">
          <div class="nav-image-link-divider">
              {%- if item.metafields.custom.navigation_bar_label != blank -%}
                <div class="navigation-bar-label">
                  {{ item.metafields.custom.navigation_bar_label }}
                </div>
              {%- endif -%}
              <div class="nav-image-link-title headline__h6">{{ item.title }}</div>
            </div>
          {%- if item.description != blank -%}
            <div class="nav-image-link-description">{{- item.description | strip_html | strip -}}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
