{% schema %}
{
  "name": "affiliate-card3",
  "class": "affiliate-card3",
  "settings": [
    {
      "type": "text",
      "id": "affiliate-card3-title",
      "label": "Affiliate Card3 Title"
    },
    {
      "type": "text",
      "id": "affiliate-card3-subtitle",
      "label": "Affiliate Card3 Subtitle"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#f8f8f8"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#1a1a1a"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "alp-container",
      "options": [
        {
          "value": "alp-container",
          "label": "Default"
        },
        {
          "value": "alp-container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "alp-full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "card-item",
      "name": "Card Item",
      "limit": 4,
      "settings": [
        {
          "type": "image_picker",
          "id": "affiliate-card3-item-image",
          "label": "Affiliate Card3 Item Image"
        },
        {
          "type": "text",
          "id": "affiliate-card3-item-title",
          "label": "Affiliate Card3 Item Title"
        },
        {
          "type": "text",
          "id": "affiliate-card3-item-content",
          "label": "Affiliate Card3 Item Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "affiliate-card3"
    }
  ]
}
{% endschema %}

{% liquid
  assign st = section.settings
  assign container = st.container
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
%}

{%- capture style -%}
  --bg-color: {{ st.bg_color }};--text-color: {{ st.text_color }};
{%- endcapture -%}

{% style %}
  .affiliate-card3-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .affiliate-card3-title {
    font-size: 48px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
    text-transform: capitalize;
  }
  .affiliate-card3-subtitle {
    margin-top: 16px;
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    text-align: center;
  }
  .affiliate-card3-content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 46px;
  }
  .affiliate-card3-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
  .affiliate-card3-item-image img {
    display: block;
  }
  .affiliate-card3-item-title {
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
  }
  .affiliate-card3-item-content {
    font-size: 16px;
    font-weight: normal;
    line-height: 150%;
    text-align: center;
  }
  @media (max-width: 768px) {
    .affiliate-card3-container {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .affiliate-card3-title {
      font-size: 28px;
    }
    .affiliate-card3-subtitle {
      margin-top: 6px;
      font-size: 16px;
    }
    .affiliate-card3-content {
      margin-top: 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      padding: 0 6.5px;
    }
    .affiliate-card3-item {
      flex-direction: row;
      align-items: flex-start;
      gap: 16px;
    }
    .affiliate-card3-item-title {
      display: none;
    }
    .affiliate-card3-item-content {
      display: none;
    }
  }
{% endstyle %}

<div class="alp-section {{ reset_spacing }}" style="{{ style }} ">
  <div class="alp-section-container page-width {{ container }} affiliate-card3-container">
    <div class="affiliate-card3-top">
      <h2 class="affiliate-card3-title">{{ st.affiliate-card3-title }}</h2>
      <div class="affiliate-card3-subtitle">{{ st.affiliate-card3-subtitle }}</div>
    </div>
    <div class="affiliate-card3-content">
      {%- for block in section.blocks -%}
        {% liquid
          assign bs = block.settings
        %}
          <div class="affiliate-card3-item">
            {% if bs.affiliate-card3-item-image != blank %}
              <div class="affiliate-card3-item-image">
                <img
                  src="{{ bs.affiliate-card3-item-image | image_url: width: 1200 }}"
                  width="auto"
                  height="auto"
                >
              </div>
            {% endif %}
            <div class="affiliate-card3-item-title">{{ bs.affiliate-card3-item-title }}</div>
            <div class="affiliate-card3-item-content">{{ bs.affiliate-card3-item-content }}</div>
          </div>
      {%- endfor -%}
    </div>
  </div>
</div>