{% schema %}
{
  "name": "Alp Yotpo SMS Signup",
  "class": "alp-yotpo-sms-signup",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Unlock $60 Off Instantly"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Join Our SMS List for Flash Sales & Exclusive Deals"
    },
    {
      "type": "textarea",
      "id": "legal_text",
      "label": "Legal Text",
      "default": "Entering your phone number above constitutes your signature agreeing to receive marketing text messages from MOKWHEEL at the number provided, including messages sent by autodialer. Consent is not a condition of purchase, Message and data rates may apply. Reply HELP for help to STOP to cancel. View our Privacy Policy and Terms of Use."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Sign Up Now"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background Image (Mobile)"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "alp-container",
      "options": [
        {
          "value": "alp-container",
          "label": "Default"
        },
        {
          "value": "alp-container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "alp-full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Block Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Alp Yotpo SMS Signup"
    }
  ]
}
{% endschema %}

{% liquid
  assign st = section.settings
  assign container = st.container
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
%}

{%- capture style -%}
  --bg-color: {{ st.bg_color }};
  --text-color: {{ st.text_color }};
  --padding-top: {{ st.padding_top }};
  --padding-bottom: {{ st.padding_bottom }};
  {% if st.background_image %}
    --background-image: url('{{ st.background_image | image_url: width: 1920 }}');
  {% endif %}
  {% if st.background_image_mobile %}
    --background-image-mobile: url('{{ st.background_image_mobile | image_url: width: 768 }}');
  {% endif %}
{%- endcapture -%}

{% comment %}
  <style>
    @import url('https://dnuaqhs941n75.cloudfront.net/files/shopify/css/convert_subscribers.css');
  </style>
{% endcomment %}

{% style %}
  h3.alp-subscription-page-title.headline__h3 {
    font-weight: 700;
  }

  .section-confirm-subscription .inputs-group .select-country-wrapper {
    gap: 0.5em;
  }

  .section-confirm-subscription #subscriber-country-select,
  .section-confirm-subscription #subscriber-phone-input {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
  button#confirm-text-marketing-subscription {
    padding: 1.4rem 1.8rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-style: none;
    margin-top: 0.3em;
    width: 100%;
    margin: auto;
    display: block;
  }
  .alp-yotpo-sms-signup-content {
    padding: var(--spacing) var(--alp-padding-x);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      background-image: var(--background-image-mobile);
    }
  }

  h3.alp-subscription-page-title.headline__h3 {
    text-align: center;
  }

  p.alp-subscription-page-description {
    text-align: center;
    margin: 0;
  }

  .section-confirm-subscription {
    margin-top: 2em;
    background: rgba(255, 255, 255, 0.9);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    backdrop-filter: blur(25px);
  }

  .section-confirm-subscription #subscriber-country-select {
    padding-left: 0;
    padding-right: 0.75em;
  }

  .section-confirm-subscription .inputs-group .select-country-wrapper {
    display: grid;
    grid-template-columns: 40% 1fr;
  }

  .section-confirm-subscription #subscriber-phone-input {
    margin-left: 0;
  }

  .shopify-section .section-confirm-subscription #subscriber-country-select,
  .shopify-section .section-confirm-subscription #subscriber-phone-input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #9d9d9d;
    background: transparent;
  }

  p.alp-legal-text {
    background: rgba(12, 118, 232, 0.05);
    padding: 24px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 24px 1fr;
    align-items: flex-start;
    color: #3d3d3d;
  }

  p.alp-legal-text > input {
    margin-top: 5px;
    display: inline-block;
  }

  button#confirm-text-marketing-subscription {
    background: #000;
    color: #fff;
    border-radius: 4px;
  }

  button#confirm-text-marketing-subscription[disabled] {
    background: #eee;
    color: #7e7e7e;
    pointer-events: none;
    cursor: not-allowed;
  }
  @media (max-width: 768px) {
    .section-confirm-subscription .inputs-group .select-country-wrapper {
      width: 100%;
      display: block;
    }

    .section-confirm-subscription #subscriber-country-select {
      max-width: 100%;
      display: block;
    }

    .section-confirm-subscription #subscriber-phone-input {
      display: block;
      width: 100%;
    }

    .section-confirm-subscription {
      padding: 1em;
    }

    p.alp-legal-text {
      padding: 1em;
    }
  }
{% endstyle %}

<div class="alp-section alp-yotpo-sms-signup-wrapper {{ reset_spacing }}" style="{{ style }}">
  <div class="alp-section-container alp-yotpo-sms-signup-container page-width {{ container }}">
    <div class="alp-yotpo-sms-signup-content">
      <h3 class="alp-subscription-page-title headline__h3">
        {{ st.title }}
      </h3>
      <p class="alp-subscription-page-description">
        {{ st.description }}
      </p>
      <div class="section">
        <div class="section-confirm-subscription">
          <div class="inputs-group">
            <div class="select-country-wrapper">
              <select name="country" id="subscriber-country-select">
                <option value="0">-- Select Country --</option>
                <option selected value="US">(+1) United States</option>
                <option value="CA">(+1) Canada</option>
                <option value="AU">(+61) Australia</option>
                <option value="GB">(+44) United Kingdom</option>
                <option value="AF">(+93) Afghanistan</option>
                <option value="AL">(+355) Albania</option>
                <option value="DZ">(+213) Algeria</option>
                <option value="AS">(+1684) American Samoa</option>
                <option value="AD">(+376) Andorra</option>
                <option value="AO">(+244) Angola</option>
                <option value="AI">(+1) Anguilla</option>
                <option value="AG">(+1268) Antigua</option>
                <option value="AR">(+54) Argentina</option>
                <option value="AM">(+374) Armenia</option>
                <option value="AW">(+297) Aruba</option>
                <option value="AT">(+43) Austria</option>
                <option value="AZ">(+994) Azerbaijan</option>
                <option value="BH">(+973) Bahrain</option>
                <option value="BD">(+880) Bangladesh</option>
                <option value="BB">(+1246) Barbados</option>
                <option value="BY">(+375) Belarus</option>
                <option value="BE">(+32) Belgium</option>
                <option value="BZ">(+501) Belize</option>
                <option value="BJ">(+229) Benin</option>
                <option value="BM">(+1) Bermuda</option>
                <option value="BT">(+975) Bhutan</option>
                <option value="BO">(+591) Bolivia</option>
                <option value="BA">(+387) Bosnia and Herzegovina</option>
                <option value="BW">(+267) Botswana</option>
                <option value="BR">(+55) Brazil</option>
                <option value="IO">(+246) British Indian Ocean Territory</option>
                <option value="VI">(+1340) US Virgin Islands</option>
                <option value="VG">(+1284) British Virgin Islands</option>
                <option value="BN">(+673) Brunei</option>
                <option value="BG">(+359) Bulgaria</option>
                <option value="BF">(+226) Burkina Faso</option>
                <option value="MM">(+95) Burma Myanmar</option>
                <option value="BI">(+257) Burundi</option>
                <option value="KH">(+855) Cambodia</option>
                <option value="CM">(+237) Cameroon</option>
                <option value="CV">(+238) Cape Verde</option>
                <option value="KY">(+1) Cayman Islands</option>
                <option value="CF">(+236) Central African Republic</option>
                <option value="TD">(+235) Chad</option>
                <option value="CL">(+56) Chile</option>
                <option value="CN">(+86) China</option>
                <option value="CO">(+57) Colombia</option>
                <option value="KM">(+269) Comoros</option>
                <option value="CK">(+682) Cook Islands</option>
                <option value="CR">(+506) Costa Rica</option>
                <option value="CI">(+225) Côte d'Ivoire</option>
                <option value="HR">(+385) Croatia</option>
                <option value="CU">(+53) Cuba</option>
                <option value="CY">(+357) Cyprus</option>
                <option value="CZ">(+420) Czech Republic</option>
                <option value="CD">(+243) Democratic Republic of Congo</option>
                <option value="DK">(+45) Denmark</option>
                <option value="DJ">(+253) Djibouti</option>
                <option value="DM">(+1767) Dominica</option>
                <option value="DO">(+1) Dominican Republic</option>
                <option value="EC">(+593) Ecuador</option>
                <option value="EG">(+20) Egypt</option>
                <option value="SV">(+503) El Salvador</option>
                <option value="GQ">(+240) Equatorial Guinea</option>
                <option value="ER">(+291) Eritrea</option>
                <option value="EE">(+372) Estonia</option>
                <option value="ET">(+251) Ethiopia</option>
                <option value="FK">(+500) Falkland Islands</option>
                <option value="FO">(+298) Faroe Islands</option>
                <option value="FM">(+691) Federated States of Micronesia</option>
                <option value="FJ">(+679) Fiji</option>
                <option value="FI">(+358) Finland</option>
                <option value="FR">(+33) France</option>
                <option value="GF">(+594) French Guiana</option>
                <option value="PF">(+689) French Polynesia</option>
                <option value="GA">(+241) Gabon</option>
                <option value="GE">(+995) Georgia</option>
                <option value="DE">(+49) Germany</option>
                <option value="GH">(+233) Ghana</option>
                <option value="GI">(+350) Gibraltar</option>
                <option value="GR">(+30) Greece</option>
                <option value="GL">(+299) Greenland</option>
                <option value="GD">(+1) Grenada</option>
                <option value="GP">(+590) Guadeloupe</option>
                <option value="GU">(+1) Guam</option>
                <option value="GT">(+502) Guatemala</option>
                <option value="GN">(+224) Guinea</option>
                <option value="GW">(+245) Guinea-Bissau</option>
                <option value="GY">(+592) Guyana</option>
                <option value="HT">(+509) Haiti</option>
                <option value="HN">(+504) Honduras</option>
                <option value="HK">(+852) Hong Kong</option>
                <option value="HU">(+36) Hungary</option>
                <option value="IS">(+354) Iceland</option>
                <option value="IN">(+91) India</option>
                <option value="ID">(+62) Indonesia</option>
                <option value="IR">(+98) Iran</option>
                <option value="IQ">(+964) Iraq</option>
                <option value="IE">(+353) Ireland</option>
                <option value="IL">(+972) Israel</option>
                <option value="IT">(+39) Italy</option>
                <option value="JM">(+1876) Jamaica</option>
                <option value="JP">(+81) Japan</option>
                <option value="JO">(+962) Jordan</option>
                <option value="KZ">(+7) Kazakhstan</option>
                <option value="KE">(+254) Kenya</option>
                <option value="KI">(+686) Kiribati</option>
                <option value="XK">(+383) Kosovo</option>
                <option value="KW">(+965) Kuwait</option>
                <option value="KG">(+996) Kyrgyzstan</option>
                <option value="LA">(+856) Laos</option>
                <option value="LV">(+371) Latvia</option>
                <option value="LB">(+961) Lebanon</option>
                <option value="LS">(+266) Lesotho</option>
                <option value="LR">(+231) Liberia</option>
                <option value="LY">(+218) Libya</option>
                <option value="LI">(+423) Liechtenstein</option>
                <option value="LT">(+370) Lithuania</option>
                <option value="LU">(+352) Luxembourg</option>
                <option value="MO">(+853) Macau</option>
                <option value="MK">(+389) North Macedonia</option>
                <option value="MG">(+261) Madagascar</option>
                <option value="MW">(+265) Malawi</option>
                <option value="MY">(+60) Malaysia</option>
                <option value="MV">(+960) Maldives</option>
                <option value="ML">(+223) Mali</option>
                <option value="MT">(+356) Malta</option>
                <option value="MH">(+692) Marshall Islands</option>
                <option value="MQ">(+596) Martinique</option>
                <option value="MR">(+222) Mauritania</option>
                <option value="MU">(+230) Mauritius</option>
                <option value="YT">(+262) Mayotte</option>
                <option value="MX">(+52) Mexico</option>
                <option value="MD">(+373) Moldova</option>
                <option value="MC">(+377) Monaco</option>
                <option value="MN">(+976) Mongolia</option>
                <option value="ME">(+382) Montenegro</option>
                <option value="MS">(+1) Montserrat</option>
                <option value="MA">(+212) Morocco</option>
                <option value="MZ">(+258) Mozambique</option>
                <option value="NA">(+264) Namibia</option>
                <option value="NR">(+674) Nauru</option>
                <option value="NP">(+977) Nepal</option>
                <option value="NL">(+31) Netherlands</option>
                <option value="AN">(+599) Netherlands Antilles</option>
                <option value="NC">(+687) New Caledonia</option>
                <option value="NZ">(+64) New Zealand</option>
                <option value="NI">(+505) Nicaragua</option>
                <option value="NE">(+227) Niger</option>
                <option value="NG">(+234) Nigeria</option>
                <option value="NU">(+683) Niue</option>
                <option value="NF">(+672) Norfolk Island</option>
                <option value="KP">(+850) North Korea</option>
                <option value="MP">(+1) Northern Mariana Islands</option>
                <option value="NO">(+47) Norway</option>
                <option value="OM">(+968) Oman</option>
                <option value="PK">(+92) Pakistan</option>
                <option value="PW">(+680) Palau</option>
                <option value="PS">(+970) Palestine</option>
                <option value="PA">(+507) Panama</option>
                <option value="PG">(+675) Papua New Guinea</option>
                <option value="PY">(+595) Paraguay</option>
                <option value="PE">(+51) Peru</option>
                <option value="PH">(+63) Philippines</option>
                <option value="PL">(+48) Poland</option>
                <option value="PT">(+351) Portugal</option>
                <option value="PR">(+1) Puerto Rico</option>
                <option value="QA">(+974) Qatar</option>
                <option value="CG">(+242) Republic of the Congo</option>
                <option value="RE">(+262) Réunion</option>
                <option value="RO">(+40) Romania</option>
                <option value="RU">(+7) Russia</option>
                <option value="RW">(+250) Rwanda</option>
                <option value="BL">(+590) Saint Barthélemy</option>
                <option value="SH">(+290) Saint Helena</option>
                <option value="KN">(+1) Saint Kitts and Nevis</option>
                <option value="MF">(+590) Saint Martin (French part)</option>
                <option value="PM">(+508) Saint Pierre and Miquelon</option>
                <option value="VC">(+1) Saint Vincent and the Grenadines</option>
                <option value="WS">(+685) Samoa</option>
                <option value="SM">(+378) San Marino</option>
                <option value="ST">(+239) São Tomé and Príncipe</option>
                <option value="SA">(+966) Saudi Arabia</option>
                <option value="SN">(+221) Senegal</option>
                <option value="RS">(+381) Serbia</option>
                <option value="SC">(+248) Seychelles</option>
                <option value="SL">(+232) Sierra Leone</option>
                <option value="SG">(+65) Singapore</option>
                <option value="SK">(+421) Slovakia</option>
                <option value="SI">(+386) Slovenia</option>
                <option value="SB">(+677) Solomon Islands</option>
                <option value="SO">(+252) Somalia</option>
                <option value="ZA">(+27) South Africa</option>
                <option value="KR">(+82) South Korea</option>
                <option value="ES">(+34) Spain</option>
                <option value="LK">(+94) Sri Lanka</option>
                <option value="LC">(+1) St. Lucia</option>
                <option value="SD">(+249) Sudan</option>
                <option value="SR">(+597) Suriname</option>
                <option value="SZ">(+268) Swaziland</option>
                <option value="SE">(+46) Sweden</option>
                <option value="CH">(+41) Switzerland</option>
                <option value="SY">(+963) Syria</option>
                <option value="TW">(+886) Taiwan</option>
                <option value="TJ">(+992) Tajikistan</option>
                <option value="TZ">(+255) Tanzania</option>
                <option value="TH">(+66) Thailand</option>
                <option value="BS">(+1) The Bahamas</option>
                <option value="GM">(+220) The Gambia</option>
                <option value="TL">(+670) Timor-Leste</option>
                <option value="TG">(+228) Togo</option>
                <option value="TK">(+690) Tokelau</option>
                <option value="TO">(+676) Tonga</option>
                <option value="TT">(+1) Trinidad and Tobago</option>
                <option value="TN">(+216) Tunisia</option>
                <option value="TR">(+90) Turkey</option>
                <option value="TM">(+993) Turkmenistan</option>
                <option value="TC">(+1) Turks and Caicos Islands</option>
                <option value="TV">(+688) Tuvalu</option>
                <option value="UG">(+256) Uganda</option>
                <option value="UA">(+380) Ukraine</option>
                <option value="AE">(+971) United Arab Emirates</option>
                <option value="UY">(+598) Uruguay</option>
                <option value="UZ">(+998) Uzbekistan</option>
                <option value="VU">(+678) Vanuatu</option>
                <option value="VA">(+379) Vatican City</option>
                <option value="VE">(+58) Venezuela</option>
                <option value="VN">(+84) Vietnam</option>
                <option value="WF">(+681) Wallis and Futuna</option>
                <option value="YE">(+967) Yemen</option>
                <option value="ZM">(+260) Zambia</option>
                <option value="ZW">(+263) Zimbabwe</option>
                <option value="AQ">(+672) Antarctica</option>
                <option value="AX">(+358) Åland Islands</option>
                <option value="BQ">(+599) Bonaire</option>
                <option value="CC">(+61) Cocos (Keeling) Islands</option>
                <option value="CW">(+599) Curaçao</option>
                <option value="CX">(+61) Christmas Island</option>
                <option value="EH">(+212) Western Sahara</option>
                <option value="GG">(+441481) Guernsey</option>
                <option value="GS">(+500) South Georgia and the South Sandwich Islands</option>
                <option value="IM">(+441624) Isle of Man</option>
                <option value="JE">(+441534) Jersey</option>
                <option value="PN">(+64) Pitcairn</option>
                <option value="SJ">(+47) Svalbard and Jan Mayen</option>
                <option value="SS">(+211) South Sudan</option>
                <option value="SX">(+1721) Sint Maarten (Dutch part)</option>
              </select>
              <input
                type="text"
                class="form-control d-block mb-3"
                id="subscriber-phone-input"
                name="phone"
                placeholder="Please enter phone number"
                value=""
              >
            </div>
            <p class="alp-legal-text">
              <input
                type="checkbox"
                class="alp-legal-text-checkbox"
              >
              {{ st.legal_text }}
            </p>
            <div class="row alp-sms-signup-button-wrapper">
              <button class="btn" id="confirm-text-marketing-subscription" disabled>{{ st.button_text }}</button>
            </div>
          </div>
        </div>
      </div>
      <script
        type="text/javascript"
        src="https://dnuaqhs941n75.cloudfront.net/files/shopify/js/convert_subscribers.js"
        defer
      ></script>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const wrapper = document.querySelector('.alp-yotpo-sms-signup-wrapper');
    const signupButton = wrapper.querySelector('.alp-sms-signup-button-wrapper button');
    // when checkbox is checked, signup button is enabled
    const checkbox = wrapper.querySelector('.alp-legal-text-checkbox');
    checkbox.addEventListener('change', () => {
      signupButton.disabled = !checkbox.checked;
    });
  });
</script>
