{% schema %}
{
  "name": "Alp Reviews Slide",
  "class": "alp-reviews-slide",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured Blog Posts"
    },
    {
      "type": "text",
      "id": "link_text_title",
      "label": "Link Text",
      "default": "View More >"
    },
    {
      "type": "url",
      "id": "link_url_title",
      "label": "Link Url"
    },
    {
      "type": "text",
      "id": "image_aspect_ratio",
      "label": "Image Aspect Ratio",
      "default": "2.5/1"
    },
    {
      "type": "text",
      "id": "block_max_width",
      "label": "Block Max Width",
      "default": "880px"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "alp-container",
      "options": [
        {
          "value": "alp-container",
          "label": "Default"
        },
        {
          "value": "alp-container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "alp-full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Block Item",
      "settings": [
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "textarea",
          "id": "subtext",
          "label": "Subtext"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Alp Reviews Slide"
    }
  ]
}
{% endschema %}

{% liquid
  assign st = section.settings
  assign container = st.container
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
%}

{%- capture style -%}
    --bg-color: {{ st.bg_color }};--text-color: {{ st.text_color }};--padding-top: {{ st.padding_top }};--padding-bottom: {{ st.padding_bottom }};
{%- endcapture -%}

<style>
  [data-stid="{{ section.id }}"] {
   --block-max-width: {{ st.block_max_width }};
  }
</style>

{% style %}
  .alp-reviews-slide-bigtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .alp-reviews-slide-bigtitle .view-more {
    color: #c8c8c8;

    font-size: clamp(12px, 4vw, 16px);
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    text-transform: capitalize;
    text-decoration: underline;
  }
  .alp-reviews-slide-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--alp-gutter-y) * 1);
    position: relative;
    margin-bottom: calc(var(--alp-gutter-y) * 1.8);
  }
  .alp-reviews-slide-swiper {
    width: 45%;
    margin: 0;
    position: static;
  }
  .alp-reviews-thumbs-swiper {
    width: 35%;
    margin: 0;
  }
  .alp-reviews-thumbs-swiper .swiper-wrapper {
    flex-wrap: wrap;
  }
  .alp-reviews-thumb-item {
    width: 45% !important;
  }
  .alp-reviews-slide-info {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .alp-reviews-slide-info p {
    margin: 0;
  }
  .alp-reviews-slide-subtext {
    margin-top: calc(var(--alp-gutter-y) * 2);
    font-weight: 600;
  }
  .swiper-pagination-reviews-slide {
    margin-top: calc(var(--alp-gutter-y) * 2.5);
    position: absolute;
    right: 0;
    /* bottom: 0; */
  }
  @media screen and (max-width: 999px) {
    .alp-reviews-slide-container {
      flex-direction: column;
    }
    .alp-reviews-thumbs-swiper {
      width: 100%;
    }
    .alp-reviews-slide-swiper {
      width: 100%;
    }
    .alp-reviews-slide-info {
      align-items: center;
      text-align: center;
    }
    .alp-reviews-slide-inner {
      margin-top: calc(var(--alp-gutter-y) * 1);
    }
    .alp-reviews-slide-subtext {
      margin-top: calc(var(--alp-gutter-y) * 1);
    }
    .swiper-pagination-reviews-slide {
      margin-top: calc(var(--alp-gutter-y) * 1.8);
    }
  }
{% endstyle %}

<div
  class="alp-section  alp-reviews-slide-wrapper {{ reset_spacing }}"
  data-stid="{{ section.id }}"
  style="{{ style }}"
>
  <div class="alp-section-container page-width {{ container }}">
    <div class="alp-reviews-slide-bigtitle">
      <h2 class="alp-hot-selling-title headline__h2s">{{ st.title }}</h2>
      <div class="view-more headline__h6">
        <a href="{{ st.link_url_title }}">{{ st.link_text_title }}</a>
      </div>
    </div>
    <div class="alp-reviews-slide-container">
      <div class="alp-reviews-thumbs-swiper swiper" data-blockId="{{ section.id }}">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {% liquid
              assign bs = block.settings
            %}
            <div class="alp-reviews-thumb-item swiper-slide">
              <div class="alp-content-slide-image">
                {% render 'alp-responsive-image',
                  image: bs.image,
                  image_mobile: bs.image_mobile,
                  desktop_width: 1280,
                  mobile_width: 600,
                  aspect_ratio: st.image_aspect_ratio,
                  alt: bs.text
                %}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
      <div class="alp-reviews-slide-swiper swiper" data-blockId="{{ section.id }}">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {% liquid
              assign bs = block.settings
            %}
            <div class="alp-reviews-slide-item swiper-slide">
              <div class="alp-reviews-slide-inner">
                {%- if bs.link != blank -%}
                  <a class="full-aa" href="{{ bs.link }}" title="{{ bs.text }}"></a>
                {%- endif -%}
                <div class="alp-reviews-slide-info">
                  {%- if bs.content != blank -%}
                    <div class="alp-reviews-slide-content">{{ bs.content }}</div>
                  {%- endif -%}
                  {%- if bs.subtext != blank -%}
                    <div class="alp-reviews-slide-subtext">
                      {{ bs.subtext | newline_to_br }}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>
        <div class="swiper-navs swiper-pagination-reviews-slide">
          {% render 'swiper-navigation', class: '' %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    //
    let swiperId = '{{ section.id }}';
    let swiperIdnum = swiperId.replace(/\D/g, '');
    let swiperVar = 'TheSwiper' + swiperIdnum;
    let swiperVar_thumb = 'TheSwiper_thumb' + swiperIdnum;

    swiperVar_thumb = new Swiper(`.alp-reviews-thumbs-swiper[data-blockId="${swiperId}"]`, {
      slidesPerView: 1,
      speed: 600,
      spaceBetween: alp_global.gap,
      direction: 'horizontal',
      breakpoints: {
        280: {
          slidesPerView: 6,
          slidesPerGroup: 1,
        },
        640: {
          slidesPerView: 6,
          slidesPerGroup: 1,
        },
        1180: {
          slidesPerView: 6,
          slidesPerGroup: 1,
          spaceBetween: alp_global.gap * 1.5,
        },
      },
    });

    swiperVar = new Swiper(`.alp-reviews-slide-swiper[data-blockId="${swiperId}"]`, {
      slidesPerView: 1,
      slidesPerGroup: 1,
      spaceBetween: alp_global.gap,
      speed: 600,
      autoHeight: true,
      //freeMode: true,
      touchRatio: 0.75,
      thumbs: {
        swiper: swiperVar_thumb,
        autoScrollOffset: 1,
      },
      speed: 600,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
  });
</script>
