{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-search.css' | asset_url | stylesheet_tag }}

{%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
  {{ 'component-facets.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<script src="{{ 'main-search.js' | asset_url }}" defer="defer"></script>

<style>
  .template-search__header {
    margin-bottom: 3rem;
  }

  .template-search__search {
    margin: 0 auto 3.5rem;
    max-width: 74.1rem;
  }

  .template-search__search .search {
    margin-top: 3rem;
  }

  .template-search--empty {
    padding-bottom: 18rem;
  }

  @media screen and (min-width: 750px) {
    .template-search__header {
      margin-bottom: 5rem;
    }
  }

  .search__button .icon {
    height: 1.8rem;
  }
</style>

{%- liquid
  assign sort_by = search.sort_by | default: search.default_sort_by
  assign terms = search.terms | escape
  assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}
{% liquid
  assign st = section.settings
  assign container = st.container
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
%}
{%- capture style -%}
    --padding-top: {{ st.padding_top }};--padding-bottom: {{ st.padding_bottom }};
{%- endcapture -%}

{%- style -%}
  .card__content_page {
    position: relative;
  }

  .alp-search-results-c-navs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #8686865e;
    padding-bottom: 0.4em;
  }

  .alp-search-results-c-navs-flex.product-grid-and-list {
    flex: 1;
  }

  .alp-search-results-c-navs-item {
    border: 1px solid #8888889e;
    border-radius: var(--alp-border-radius);
    line-height: 1.2;
    padding: 0.5em 1em;
    margin-bottom: 0.65em;
    transition: 0.2s;
    cursor: pointer;
  }

  .alp-search-results-c-navs-item:hover,
  .alp-search-results-c-navs-item.active {
    background: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
  }
  .alp-search-results-c-cc-item {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
  }

  .alp-search-results-c-cc-item.alp-product-grid .alp-productAcessories {
    display: none;
  }

  .alp-search-results-c-cc-item.alp-product-grid .alp-grid-container-image {
    flex: 1;
  }

  .alp-search-results-c-cc-item.alp-product-grid .alp-product-item-grid.alp-product-item-wrapper {
    display: flex;
    flex-direction: column;
  }

  .alp-search-results-c-cc-item.alp-product-grid
    .alp-product-item-info-flex.info-flex-row
    .alp-product-item-info-buttons-flex {
    width: 100%;
  }

  .alp-main-search-container {
    color: #000;
  }

  .alp-search-results-c-cc-item .card--standard .card__inner {
    aspect-ratio: 3/2;
  }

  .card__content_page {
    border-radius: 16px;
    background: #f9f9f9;
    padding: 1.25em;
  }

  .card__content_page .card__information_page {
    margin-bottom: 2em;
  }

  .card__content_page .card__information_page {
    text-transform: capitalize;
  }

  .alp-search-results-c-results[data-switch-target] > .alp-search-results-c-cc-item {
    display: none;
  }

  .alp-search-results-c-results[data-switch-target] > .alp-search-results-c-cc-item.active {
    display: grid;
  }
  .template-search__search {
    position: relative;
    z-index: 22;
  }
  div#FacetsWrapperDesktop {
    display: none;
  }
  .alp-product-item-features .alp_product__badge_i {
    /* min-height: 40px; */
    display: inline-flex;
    align-items: center;
    border: 1px solid #1a1a1a;
    background: #ffffff;
    color: #1a1a1a;
    font-weight: 500;
    /* font-size: clamp(14px, 1.25vw, 16px); */
  }
  @media (min-width: 750px) {
    .alp-search-results-c-cc-item {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .alp-search-results-c-cc-item {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1600px) {
    .alp-search-results-c-cc-item {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  @media (max-width: 999px) {
    .facet-filters.sorting {
      padding-left: 0;
    }
    .facets-container {
      padding-top: 0;
    }

    .alp-search-results-c-navs {
      gap: 0px;
    }
  }
{%- endstyle -%}

{% paginate search.results by 128 %}
  <div class="alp-section alp-main-search {{ reset_spacing }}" style="{{ style }}">
    <div class="alp-main-search-container page-width {{ container }}">
      <div class="template-search{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %} section-{{ section.id }}-padding">
        <div class="template-search__header page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          <h1 class="alp-hero-banner-heading center">
            {%- if search.performed -%}
              {{- 'templates.search.title' | t -}}
            {%- else -%}
              {{- 'general.search.search' | t -}}
            {%- endif -%}
          </h1>
          <div class="template-search__search">
            {%- if settings.predictive_search_enabled -%}
              <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
            {%- endif -%}
            <main-search>
              <form action="{{ routes.search_url }}" method="get" role="search" class="search">
                <div class="field">
                  <input
                    class="search__input field__input"
                    id="Search-In-Template"
                    type="search"
                    name="q"
                    value="{{ search.terms | escape }}"
                    placeholder="{{ 'general.search.search' | t }}"
                    {%- if settings.predictive_search_enabled -%}
                      role="combobox"
                      aria-expanded="false"
                      aria-owns="predictive-search-results"
                      aria-controls="predictive-search-results"
                      aria-haspopup="listbox"
                      aria-autocomplete="list"
                      autocorrect="off"
                      autocomplete="off"
                      autocapitalize="off"
                      spellcheck="false"
                    {%- endif -%}
                  >
                  <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
                  <input name="options[prefix]" type="hidden" value="last">

                  {%- if settings.predictive_search_enabled -%}
                    <div
                      class="predictive-search predictive-search--search-template"
                      tabindex="-1"
                      data-predictive-search
                    >
                      {%- render 'loading-spinner', class: 'predictive-search__loading-state' -%}
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}

                  <button
                    type="reset"
                    class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}"
                    aria-label="{{ 'general.search.reset' | t }}"
                  >
                    <svg class="icon icon-close" aria-hidden="true" focusable="false">
                      <use xlink:href="#icon-reset">
                    </svg>
                  </button>
                  <button
                    type="submit"
                    class="search__button field__button"
                    aria-label="{{ 'general.search.search' | t }}"
                  >
                    <svg
                      class="icon icon-search"
                      aria-hidden="true"
                      focusable="false"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m20 20l-4.05-4.05m0 0a7 7 0 1 0-9.9-9.9a7 7 0 0 0 9.9 9.9z"/>
                    </svg>
                  </button>
                </div>
              </form>
            </main-search>
            {%- if settings.predictive_search_enabled -%}
              </predictive-search>
            {%- endif -%}
          </div>
          {%- if search.performed -%}
            {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
              {%- if search.results_count > 0 -%}
                <p role="status">
                  {{
                    'templates.search.results_with_count_and_term'
                    | t: terms: search.terms, count: search.results_count
                  }}
                </p>
              {%- endif -%}
            {%- endunless -%}
            {%- if search.results_count == 0 and search.filters == empty -%}
              <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
            {%- endif -%}
          {%- endif -%}
        </div>
        {%- if search.performed -%}
          {% comment %} Search results New {% endcomment %}
          <div class="alp-search-results-wrapper">
            {%- if search.results.size == 0 and search.filters != empty -%}
              <div class="s-no-results">
                <div class="title-wrapper center">
                  <h2 class="title title--primary">
                    {{ 'sections.collection_template.empty' | t -}}
                    <br>
                    {{
                      'sections.collection_template.use_fewer_filters_html'
                      | t: link: search_url, class: 'underlined-link link'
                    }}
                  </h2>
                </div>
              </div>
            {%- else -%}
              {% liquid
                assign products_count = 0
                assign bikes_count = 0
                assign accessories_count = 0
                assign blogs_count = 0
                assign pages_count = 0
              %}
              {%- for item in search.results -%}
                {%- unless item.tags contains 'Hide_In_Search' -%}
                  {%- if item.object_type == 'product' -%}
                    {%- assign products_count = products_count | plus: 1 -%}
                    {%- if item.tags contains 'Electric Bike' -%}
                      {%- assign bikes_count = bikes_count | plus: 1 -%}
                    {%- elsif item.tags contains 'Acc_in_Search' -%}
                      {%- assign accessories_count = accessories_count | plus: 1 -%}
                    {%- endif -%}
                  {%- elsif item.object_type == 'article' -%}
                    {%- assign blogs_count = blogs_count | plus: 1 -%}
                  {%- elsif item.object_type == 'page' -%}
                    {%- assign pages_count = pages_count | plus: 1 -%}
                  {%- endif -%}
                {%- endunless -%}
              {%- endfor -%}
              <div
                class="alp-search-results-container"

                data-switch-wrapper
              >
                <div class="alp-search-results-c-navs">
                  <div class="alp-search-results-c-navs-flex product-grid-and-list" data-switch-trigger>
                    {%- if products_count > 0 -%}
                      {%- if bikes_count > 0 -%}
                        <div class="alp-search-results-c-navs-item active" data-trigger-index="product_bike">
                          {{ st.text_product_bike | default: 'E-Bikes' }}
                        </div>
                      {%- endif -%}
                      {%- if accessories_count > 0 -%}
                        <div class="alp-search-results-c-navs-item" data-trigger-index="product_accessories">
                          {{ st.text_product_acc | default: 'Accessories' }}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                    {%- if blogs_count > 0 -%}
                      <div class="alp-search-results-c-navs-item" data-trigger-index="article">
                        {{ st.text_blog }}
                      </div>
                    {%- endif -%}
                    {%- if pages_count > 0 -%}
                      <div class="alp-search-results-c-navs-item hidden" data-trigger-index="page">
                        {{ st.text_page }}
                      </div>
                    {%- endif -%}
                  </div>
                  {%- if section.settings.enable_sorting -%}
                    {%- if search.filters != empty -%}
                      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
                        <aside
                          aria-labelledby="verticalTitle"
                          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %}{% endif %}"
                          id="main-search-filters"
                          data-id="{{ section.id }}"
                        >
                          {% render 'facets',
                            results: search,
                            enable_filtering: section.settings.enable_filtering,
                            enable_sorting: section.settings.enable_sorting,
                            filter_type: section.settings.filter_type,
                            paginate: paginate
                          %}
                        </aside>
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                </div>
                <div id="ProductGridContainer">
                  <div
                    class="alp-search-results-c-results collection"
                    id="product-grid"
                    data-id="{{ section.id }}"
                    style="--cols-desktop: {{ section.settings.columns_desktop }};--cols-mobile: {{ section.settings.columns_mobile }}"
                    data-switch-target
                  >
                    {%- if products_count > 0 -%}
                      {% comment %} Show Bikes {% endcomment %}
                      {%- if bikes_count > 0 -%}
                        <div
                          class="alp-search-results-c-cc-item alp-product-grid active"
                          data-target-index="product_bike"
                        >
                          {%- for item in search.results -%}
                            {%- unless item.tags contains 'Hide_In_Search' -%}
                              {%- if item.object_type == 'product' -%}
                                {%- if item.tags contains 'Electric Bike' -%}
                                  {% comment %} {% render 'alp-product-item-grid', product: item, aspect_ratio: '4/3' %} {% endcomment %}
                                  <div class="alp-product-grid-i">
                                    {% render 'alp-product-item-grid-n1',
                                      product: item,
                                      aspect_ratio: '4/3',
                                      show_features: false
                                    %}
                                  </div>
                                {%- endif -%}
                              {%- endif -%}
                            {%- endunless -%}
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                      {% comment %} Show Accessories {% endcomment %}
                      {%- if accessories_count > 0 -%}
                        <div
                          class="alp-search-results-c-cc-item alp-product-grid"
                          data-target-index="product_accessories"
                        >
                          {%- for item in search.results -%}
                            {%- unless item.tags contains 'Hide_In_Search' -%}
                              {%- if item.object_type == 'product' -%}
                                {%- if item.tags contains 'Acc_in_Search' -%}
                                  {% render 'alp-product-item-grid-2', product: item, aspect_ratio: '4/3' %}
                                {%- endif -%}
                              {%- endif -%}
                            {%- endunless -%}
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                    {%- endif -%}
                    {%- if blogs_count > 0 -%}
                      <div class="alp-search-results-c-cc-item" data-target-index="article">
                        {%- for item in search.results -%}
                          {%- unless item.tags contains 'Hide_In_Search' -%}
                            {%- if item.object_type == 'article' -%}
                              {%- render 'alp-article-card',
                                article: item,
                                media_aspect_ratio: '4/2.5',
                                show_image: true,
                                show_date: false,
                                show_author: false,
                                show_excerpt: true
                              -%}
                            {%- endif -%}
                          {%- endunless -%}
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                    {%- if pages_count > 0 -%}
                      <div class="alp-search-results-c-cc-item hidden" data-target-index="page">
                        {%- for item in search.results -%}
                          {%- unless item.tags contains 'Hide_In_Search' -%}
                            {%- if item.object_type == 'page' -%}
                              <div class="card__content_page">
                                <div class="card__information_page">
                                  <h3 class="card__heading">
                                    <a href="{{ item.url }}" class="full-unstyled-link">
                                      {{ item.title | truncatewords: 12 | escape }}
                                    </a>
                                  </h3>
                                </div>
                                <div class="card__badge {{ settings.badge_position }}">
                                  <span class="badge color-{{ settings.color_schemes | first }}">
                                    {{- 'templates.search.page' | t -}}
                                  </span>
                                </div>
                              </div>
                            {%- endif -%}
                          {%- endunless -%}
                        {%- endfor -%}
                      </div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
{% endpaginate %}
{% if section.settings.image_shape == 'arch' %}
  {% render 'mask-arch' %}
{%- endif -%}

<script type="module">
  function resetSearch() {
    $(`.alp-search-results-c-navs-flex[data-switch-trigger] > div:first-child`)
      .addClass('active')
      .siblings()
      .removeClass('active');
    $(`.alp-search-results-c-results[data-switch-target] > div:first-child`)
      .addClass('active')
      .siblings()
      .removeClass('active');
  }
  document.addEventListener('DOMContentLoaded', () => {
    resetSearch();
  });
  window.addEventListener('searchResultLoaded', () => {
    resetSearch();
  });
</script>

{% schema %}
{
  "name": "Alp Main Search",
  "tag": "section",
  "class": "alp-main-search-section",
  "settings": [
    {
      "type": "text",
      "id": "text_product",
      "label": "Product Text",
      "default": "Products"
    },
    {
      "type": "text",
      "id": "text_product_bike",
      "label": "Bike Text",
      "default": "E-Bikes"
    },
    {
      "type": "text",
      "id": "text_product_acc",
      "label": "Accessories Text",
      "default": "Accessories"
    },
    {
      "type": "text",
      "id": "text_blog",
      "label": "Blog Text",
      "default": "Blogs"
    },
    {
      "type": "text",
      "id": "text_page",
      "label": "Page Text",
      "default": "Pages"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-search.settings.columns_desktop.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__1.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-search.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-search.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-search.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-search.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-search.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-search.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-search.settings.show_rating.label",
      "info": "t:sections.main-search.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header__2.content",
      "info": "t:sections.main-search.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "t:sections.main-search.settings.article_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "t:sections.main-search.settings.article_show_author.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-search.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-search.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-search.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-search.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "alp-container",
      "options": [
        {
          "value": "alp-container",
          "label": "Default"
        },
        {
          "value": "alp-container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "alp-full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 10,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Alp Main Search"
    }
  ]
}
{% endschema %}
