{% schema %}
{
  "name": "AX Media Grid 1",
  "class": "ax-media-grid-1",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "image_aspect_ratio",
      "label": "Aspect Ratio",
      "default": "580/530"
    },
    {
      "type": "text",
      "id": "image_aspect_ratio_mobile",
      "label": "Aspect Ratio Mobile",
      "default": "340/230"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "select",
      "id": "container",
      "label": "Layout",
      "default": "alp-container-fluid",
      "options": [
        {
          "value": "alp-container",
          "label": "Default"
        },
        {
          "value": "alp-container-fluid",
          "label": "Fluid container"
        },
        {
          "value": "alp-full-width",
          "label": "Full width"
        }
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "default": 0,
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "em"
    },
    {
      "type": "checkbox",
      "id": "reset_spacing",
      "label": "Remove default space between sections",
      "default": true
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "text",
      "id": "img_width_desktop",
      "label": "Image Width Desktop",
      "default": "1920"
    },
    {
      "type": "text",
      "id": "img_width_mobile",
      "label": "Image Width Mobile",
      "default": "750"
    },
    {
      "type": "text",
      "id": "st_max_width",
      "label": "Content Max Width",
      "default": "var(--gl-max-width)"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Block Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image Mobile"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "url",
          "id": "video",
          "label": "Video"
        },
        {
          "id": "video_url",
          "type": "video_url",
          "label": "Video url",
          "accept": ["youtube", "vimeo"],
          "info": "youtube or vimeo url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AX Media Grid 1"
    }
  ]
}
{% endschema %}

{% liquid
  assign st = section.settings
  assign container = st.container
  assign reset_spacing = ''
  if st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
%}

{%- capture style -%}
    --bg-color: {{ st.bg_color }};--text-color: {{ st.text_color }};--padding-top: {{ st.padding_top }};--padding-bottom: {{ st.padding_bottom }};
{%- endcapture -%}

<style>
  [data-stid="{{ section.id }}"] {
    --aspect-ratio: {{ st.image_aspect_ratio }};
    --aspect-ratio-mobile: {{ st.image_aspect_ratio_mobile }};
    --content-max-width: {{ st.st_max_width }};
  }
  [data-stid="{{ section.id }}"].alp-section.no-padding-top {
    padding-top: 0;
  }
</style>

{% style %}
  .ax-media-grid-one.alp-section {
    padding: var(--spacing) 0;
  }
  .ax-media-grid-one-title {
    text-align: center;
    margin-bottom: clamp(32px, 4.25vw, 64px);
  }

  .ax-media-grid-one-item-image-inner img {
    display: block;
    border-radius: var(--alp-border-radius);
  }

  .ax-media-grid-one-description {
    font-size: clamp(14px, 1.05vw, 18px);
    line-height: 1.5;
    opacity: 0.8;
  }

  .ax-media-grid-one-item-content {
    font-size: clamp(14px, 1.05vw, 16px);
    opacity: 0.8;
  }
  .ax-media-grid-one-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
  }
  .ax-media-grid-one-item-content p {
    margin: 0;
  }

  .ax-media-grid-one-container.page-width {
    --gl-max-width: var(--content-max-width, 1440px);
  }

  @media (min-width: 768px) {
    .ax-media-grid-one-images {
      display: flex;
      gap: 16px;
    }
    .ax-media-grid-one-item-text-inner {
      padding: 30px 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
    }
    .ax-media-grid-one-images-col-2 .ax-media-grid-one-item-image-inner img {
      aspect-ratio: auto;
      height: 100%;
    }

    .ax-media-grid-one-images-col-2 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    .ax-media-grid-one-images-col-2 > div {
      flex: 1;
    }

    .ax-media-grid-one-item-inner,
    .ax-media-grid-one-item-image-inner,
    .ax-media-grid-one-thumbnail-container,
    .ax-media-grid-one-thumbnail-container img {
      height: 100%;
    }
    .ax-media-grid-one-images-col-2 > div:last-child .ax-media-grid-one-item-text-inner {
      bottom: auto;
      top: 0;
    }
  }
  @media (max-width: 767px) {
    .ax-media-grid-one-item-image-inner img {
      aspect-ratio: var(--aspect-ratio-mobile);
    }

    .ax-media-grid-one-title {
      text-align: left;
    }

    .ax-media-grid-one-item-text-inner {
      padding: 14px;
      background: #141414;
      border-radius: 0px 0px 4px 4px;
    }

    .ax-media-grid-one-image-item {
      margin-bottom: 20px;
    }

    .ax-media-grid-one-item-image-inner img {
      border-radius: 4px 4px 0px 0px;
    }
  }
{% endstyle %}

<div
  class="ax-media-grid-one alp-section overflow-hidden  {{ reset_spacing }} {{ st.custom_class }}"
  data-stid="{{ section.id }}"
  style="{{ style }}"
>
  <div class="alp-section-container ax-media-grid-one-container page-width {{ container }}">
    <div class="ax-media-grid-one-title">
      {%- if st.title != blank -%}
        <h2 class="headline__h2 big-title">{{ st.title }}</h2>
      {%- endif -%}
      {%- if st.subtitle != blank -%}
        <div class="ax-media-grid-one-description">{{ st.subtitle | newline_to_br }}</div>
      {%- endif -%}
    </div>
    <div class="ax-media-grid-one-images">
      <div class="ax-media-grid-one-images-col-1">
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            {%- liquid
              assign bs = block.settings
            -%}
            {%- if forloop.first -%}
              <div class="ax-media-grid-one-image-item">
                <div class="ax-media-grid-one-item-inner relative">
                  {% liquid
                    assign bs = block.settings
                    assign video_id = ''
                    if bs.video_url.type == 'youtube'
                      assign video_id = bs.video_url | replace: 'https://www.youtube.com/watch?v=', ''
                    elsif bs.video_url.type == 'vimeo'
                      assign video_id = bs.video_url | replace: 'https://vimeo.com/', ''
                    endif
                  %}
                  {%- capture online_video_url -%}
                          {%- if bs.video_url.type == 'youtube' -%}
                          https://www.youtube.com/embed/{{ video_id }}?controls=0&autoplay=1&mute=0&playsinline=1&loop=0&playlist={{ video_id }}
                          {%- elsif bs.video_url.type == 'vimeo' -%}
                          https://player.vimeo.com/video/{{ video_id }}?controls=0background=1&autoplay=1&muted=0&loop=0
                          {%- endif -%}
                          {%- endcapture -%}
                  {% if bs.video != blank %}
                    <a
                      class="full-aa"
                      href="{{ bs.video }}"
                      data-fslightbox="reviews"
                    ></a>
                  {%- endif -%}
                  {%- if bs.video_url.type == 'youtube' -%}
                    <a
                      class="full-aa"
                      href="{{ bs.video_url }}"
                      data-embed="{{ online_video_url }}"
                      data-fslightbox="reviews"
                    ></a>
                  {%- elsif bs.video_url.type == 'vimeo' -%}
                    <a
                      class="full-aa"
                      href="#{{ block.id | replace: '-', '' | prepend: 'vimeoid_' }}"
                      data-embed="{{ online_video_url }}"
                      data-fslightbox="reviews"
                    ></a>
                    <iframe
                      data-src="https://player.vimeo.com/video/{{ video_id }}?controls=0background=1&autoplay=0&muted=0&loop=0"
                      frameborder="0"
                      allowfullscreen
                      class="hidden"
                      id="{{ block.id | replace: '-', '' | prepend: 'vimeoid_' }}"
                      class="lazy"
                    ></iframe>
                  {%- endif -%}
                  <div class="ax-media-grid-one-item-image-inner">
                    {% if bs.image != blank %}
                      <div class="ax-media-grid-one-thumbnail-container">
                        {% render 'alp-responsive-image',
                          image: bs.image,
                          image_mobile: bs.image_mobile,
                          desktop_width: 1600,
                          mobile_width: 900
                        %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="ax-media-grid-one-item-text-inner">
                    {%- if bs.title != blank -%}
                      <h3 class="headline__h5l ax-media-grid-one-item-title hide_desktop">
                        {{ bs.title | strip_html | strip }}
                      </h3>
                    {%- endif -%}
                    {%- if bs.content != blank -%}
                      <div class="ax-media-grid-one-item-content">{{ bs.content }}</div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        {% endif %}
      </div>
      <div class="ax-media-grid-one-images-col-2">
        {%- if section.blocks.size > 0 -%}
          {%- for block in section.blocks -%}
            {%- liquid
              assign bs = block.settings
            -%}
            {%- if forloop.index > 1 and forloop.index < 4 -%}
              <div class="ax-media-grid-one-image-item">
                <div class="ax-media-grid-one-item-inner relative">
                  {% liquid
                    assign bs = block.settings
                    assign video_id = ''
                    if bs.video_url.type == 'youtube'
                      assign video_id = bs.video_url | replace: 'https://www.youtube.com/watch?v=', ''
                    elsif bs.video_url.type == 'vimeo'
                      assign video_id = bs.video_url | replace: 'https://vimeo.com/', ''
                    endif
                  %}
                  {%- capture online_video_url -%}
                          {%- if bs.video_url.type == 'youtube' -%}
                          https://www.youtube.com/embed/{{ video_id }}?controls=0&autoplay=1&mute=0&playsinline=1&loop=0&playlist={{ video_id }}
                          {%- elsif bs.video_url.type == 'vimeo' -%}
                          https://player.vimeo.com/video/{{ video_id }}?controls=0background=1&autoplay=1&muted=0&loop=0
                          {%- endif -%}
                          {%- endcapture -%}
                  {% if bs.video != blank %}
                    <a
                      class="full-aa"
                      href="{{ bs.video }}"
                      data-fslightbox="reviews"
                    ></a>
                  {%- endif -%}
                  {%- if bs.video_url.type == 'youtube' -%}
                    <a
                      class="full-aa"
                      href="{{ bs.video_url }}"
                      data-embed="{{ online_video_url }}"
                      data-fslightbox="reviews"
                    ></a>
                  {%- elsif bs.video_url.type == 'vimeo' -%}
                    <a
                      class="full-aa"
                      href="#{{ block.id | replace: '-', '' | prepend: 'vimeoid_' }}"
                      data-embed="{{ online_video_url }}"
                      data-fslightbox="reviews"
                    ></a>
                    <iframe
                      data-src="https://player.vimeo.com/video/{{ video_id }}?controls=0background=1&autoplay=0&muted=0&loop=0"
                      frameborder="0"
                      allowfullscreen
                      class="hidden"
                      id="{{ block.id | replace: '-', '' | prepend: 'vimeoid_' }}"
                      class="lazy"
                    ></iframe>
                  {%- endif -%}
                  <div class="ax-media-grid-one-item-image-inner">
                    {% if bs.image != blank %}
                      <div class="ax-media-grid-one-thumbnail-container">
                        {% render 'alp-responsive-image',
                          image: bs.image,
                          image_mobile: bs.image_mobile,
                          desktop_width: 1600,
                          mobile_width: 900
                        %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="ax-media-grid-one-item-text-inner">
                    {%- if bs.title != blank -%}
                      <h3 class="headline__h5l ax-media-grid-one-item-title hide_desktop">
                        {{ bs.title | strip_html | strip }}
                      </h3>
                    {%- endif -%}
                    {%- if bs.content != blank -%}
                      <div class="ax-media-grid-one-item-content">{{ bs.content }}</div>
                    {%- endif -%}
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        {% endif %}
      </div>
    </div>
  </div>
</div>
